/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: red;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.my-class {
  display: flex;
}
.mob-class {
  width: 500px;
  background: gray;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 75px;
  margin: auto;
  padding: 20px;
  background: gray;
  font-family: font-family 'Roboto Mono', monospace;
}
header nav a {
  font-size: 30px;
  color: black;
}
h1 {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  font-family: 'Monofett', cursive;
  font-size: 55px;
}
.container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  width: 75%;
  margin: auto;
  padding: 35px;
  background: lightgray;
}
.container .top {
  height: 50px;
  width: 100%;
}
.container .top .text {
  text-align: center;
  font-size: 35px;
  margin-bottom: 2%;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
.text2 {
  font-size: 25px;
  height: 100px;
}
.pic {
  height: 200px;
  width: 1000px;
}
.bottom-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
  width: 75%;
  padding: 20px;
  font-size: 25px;
  margin: auto;
  background: gray;
}
.Years,
.Company,
.Title {
  display: flex;
  justify-content: flex-start;
  height: 100px;
  width: 75%;
  margin: auto;
  text-align: center;
  border: 1px solid black;
}
h3 {
  text-align: center;
  height: 100px;
  width: 75%;
  margin: auto;
  border: 1px solid black;
}
.contact {
  font-size: 25px;
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}
@media (max-width: 500px) {
  body {
    width: 500px;
    background: gray;
  }
}
.pic {
  display: none;
}
.text {
  font-size: 25px;
}
.container {
  height: 800px;
}
